/* shared styles */
.dark-2 {
  color: #474747;
}

.text-primary {
  color: #fd6e0a;
}

.secondary-bg {
  background-color: #fff8f3;
}

.text-center {
  text-align: center;
}

.btn-primary {
  background-color: #fd6e0a;
  color: #fff;
  font-weight: 700;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}

/* Nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-weight: 800;
  font-size: 2.81em;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
  font-size: 1.25em;
}

/* Banner Section */
.banner-greetings {
  font-size: 2.8em;
  font-weight: 600;
}

.banner-title {
  font-size: 5.3em;
  font-weight: 700;
}

.banner-desciption {
  color: #757575;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}

.banner-content {
  max-width: 580px;
}

.banner-profile-pic {
  width: 580px;
}

/* header */
header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
}

/* about styles */
.section-title {
  font-size: 2.2em;
  font-weight: bold;
  color: #181818;
}

.section-description {
  font-weight: 600;
  color: #757575;
}

.item-description {
  font-weight: 600;
}

.about {
  padding: 130px;
  border-radius: 10px;
  text-align: center;
}

.about-items {
  display: flex;
  justify-content: space-around;
}

/* skills section styles */
.content {
  padding: 130px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

/* resume section styles */
.resume-container {
  display: flex;
  gap: 24px;
}
.experience-sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.experience-description,
.experience-sub-title {
  color: #757575;
}
/* .resume hr{
    margin: 30px 5px;
} */

/* .resume-download-cv{
    margin-top: 50px;
} */

/* footer styles */
footer {
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}

.footer-column {
  width: 50%;
  /* flex: 1; */
}
footer input[type="text"],
footer input[type="email"],
footer textarea {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  height: 64px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .skills-container,
  .resume-container,
  .banner,
  footer,
  nav,
  nav > ul,
  .about-items {
    flex-direction: column;
  }

  nav > ul {
    gap: 20px;
  }

  .btn-primary {
    margin-bottom: 20px;
  }

  .banner {
    margin: 20px;
  }

  .banner-profile-pic {
    width: 100%;
  }

  .header {
    background-image: none;
  }

  footer,
  .about {
    padding: 20px;
  }

  .footer-column {
    width: 100%;
  }

  footer input[type="text"],
  footer input[type="email"],
  footer textarea {
    width: calc(100% - 40px);
  }
}

/* tablet specific media query */
/* @media screen and (min-width: 576px) and (max-width: 990px) {
  .banner {
    flex-direction: column;
  }
} */
